# Ignorer les fichiers d'état de Terraform
*.tfstate
*.tfstate.backup

# Répertoire de travail de Terraform
.terraform/

# Fichiers de plan et de log
*.tfplan
crash.log

# Fichiers de variables sensibles
terraform.tfvars

# Fichiers d'override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lock file (optionnel)
.terraform.lock.hcl

aws.pemaws_infrastructure/aws-k8s-terraform/aws-credentials.yaml
vockey2.yaml
aws.pem
dev-key.pem

vockey2.pem
aws.pem                         
k8s-key.pem                                    
 terraform.tfstate.backup
dev-key.pem                                                     
dev-key.pub                     
new-k8s-key.pem                  
 
*.pem